openapi: 3.2.0
info:
  title: MarketCheck Cars Graphs API
  description: Access the New, Used and Certified cars inventories for all Car Dealers in US.
  version: 1.0.3
  contact:
    name: MarketCheck
    url: https://www.marketcheck.com/
  termsOfService: https://www.marketcheck.com/terms/
servers:
- url: https://mc-api.marketcheck.com/v1
  description: MarketCheck Production API
tags:
- name: Graphs
  description: Plot data for visualizations
paths:
  /plots:
    get:
      tags:
      - Graphs
      summary: Price, Miles plots data for given criteria
      operationId: getPriceMilesPlotData
      description: '[DEPRECATED - Please check this in /search API using plot=true] Get price, miles plot data for active cars matching the given VIN''s basic specification or Year, Make, Model, Trim (Optional) criteria'
      deprecated: true
      parameters:
      - name: car_type
        in: query
        required: true
        description: Car type to get the scatter plot data for
        schema:
          type: string
          enum:
          - new
          - used
          - certified
      - name: api_key
        in: query
        description: The API Authentication Key. Mandatory with all API calls.
        schema:
          type: string
      - name: vin
        in: query
        description: VIN as a reference to the type of car for which plot data is to be returned
        schema:
          type: string
      - name: year
        in: query
        description: Year of the car
        schema:
          type: string
      - name: make
        in: query
        description: Make of the car
        schema:
          type: string
      - name: model
        in: query
        description: Model of the Car
        schema:
          type: string
      - name: trim
        in: query
        description: Trim of the Car
        schema:
          type: string
      - name: rows
        in: query
        description: Number of results to return. Default is 1000. Max is 10000.
        schema:
          type: integer
          default: 1000
          maximum: 10000
      responses:
        '200':
          description: Successful response with plot data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlotPoint'
components:
  schemas:
    PlotPoint:
      type: object
      description: Price/miles scatter plot data point
      properties:
        id:
          type: string
        price:
          type: number
          description: Listing price
        miles:
          type: integer
          description: Odometer reading
        dom:
          type: integer
          description: Days on market
        latitude:
          type: number
        longitude:
          type: number
externalDocs:
  description: MarketCheck API Documentation
  url: https://docs.marketcheck.com/docs/api/cars
